bind ^D linter all
bind ^F formatter all

include ~/.sibyl-nano/syntaxhl.nanorc/*.nanorc

extendsyntax C linter sibyl-client -l clang-tidy -F 
extendsyntax C formatter sibyl-client -f clang-format -F 

extendsyntax Elixir linter sibyl-client -l credo -F 
extendsyntax Elixir formatter sibyl-client -f mix-format -F 

extendsyntax GO linter sibyl-client -l staticcheck -F 
extendsyntax GO formatter sibyl-client -f go-fmt -F 

extendsyntax HTML linter sibyl-client -l htmlhint -F 
extendsyntax HTML formatter sibyl-client -f prettier -F 

extendsyntax CSS linter sibyl-client -l stylelint -F 
extendsyntax CSS formatter sibyl-client -f prettier -F 

extendsyntax JSON linter sibyl-client -l jsonlint -F 
extendsyntax JSON formatter sibyl-client -f prettier -F 

extendsyntax JavaScript linter sibyl-client -l eslint -F 
extendsyntax JavaScript formatter sibyl-client -f eslint -F 

extendsyntax Markdown linter sibyl-client -l markdownlint -F 
extendsyntax Markdown formatter sibyl-client -f markdownlint -F 

extendsyntax PHP linter sibyl-client -l phpcs -F 
extendsyntax PHP formatter sibyl-client -f phpcbf -F 

extendsyntax python linter sibyl-client -l flake8 -F 
extendsyntax python formatter sibyl-client -f autopep8 -F 

extendsyntax Ruby linter sibyl-client -l rubocop -F 
extendsyntax Ruby formatter sibyl-client -f rubocop -F 

extendsyntax Rust linter sibyl-client -l clippy -F 
extendsyntax Rust formatter sibyl-client -f rustfmt -F 

extendsyntax SQL linter sibyl-client -l sqlfluff -F 
extendsyntax SQL formatter sibyl-client -f sqlfluff -F 